* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.logo {
    height: 10vh;
    float: left;
}

/* Top Navigation Bar */

#navigation-container {
    width: 100%;
    height: 10vh;
    margin-right: 3vw;
}

nav {
    height: 10vh;
    width: 100%;
    text-align: right;
}

nav a {
    list-style-type: none;
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
}

nav a {
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.15em;
    line-height: 3.75em;
}

nav a:hover {
    color: white;
    background: red;
}

/* Main Content */

.wrapper {
    font-family: cursive;
    font-size: 2em;
    color: white;
    width: 20em;
    margin-top: 10vh;
    margin-left: 5vw;
}

#btn {
    border-radius: 0.5em;
    margin-top: 5%;
    padding: 1em;
    background-color: transparent;
    left: 50%;
    color: white;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-right: 4vw;
}